<script>
     BUI.use('common/main',function(){
      var config = [{
          id:'menu',
           homePage : 'main-log',  
          menu:[{                              
              text:'首页',
	          items:[
	            {id:'main-log',text:'首页',href:'/kflog/kflogList.htm'}
	          ]
            },
            #if($!user.role.roleCode == "administrator")
            {
              text:'用户管理',
              items:[
                {id:'main-user',text:'用户管理',href:'/user/userList.htm'}
              ]
          	},
          	#end
          	{
            	  text:'amazon数据管理',
  	          items:[
  	          	{id:'main-goodsUrl',text:'商品url管理',href:'/datafetch/goodsUrlManager.htm'},
  	          	{id:'main-dz-log',text:'下载管理',href:'/datafetch/download.htm'}
  	          ]
              } ,
              {
                  text:'下载',
                  items:[
                    {id:'main-down',text:'产品下载',href:'/download/item_download.htm'}
                  ]
              	}
            ]
          }];
      new PageUtil.MainPage({
        modulesConfig : config
      });
    });
 
</script>